@media (max-width: 999px) {
  .card-img{
    margin-bottom: 10px;
  }
  .card-img-reverse{
    margin-bottom: 10px;
  }
  .vantagens h2{
    font-size: 42px;
  }
  .vantagens p{
    font-size: 12px;
  }
  .vantagens > div{
    margin-left: 10PX;
  }
  .botao-vantagens{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding: 10px 20px;
    font-size: 15px;
    position: relative;
    background-color: #FC6335;
    border-radius: 50px;
    cursor: pointer;
  }
  

  .card{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-reverse{
    display: flex;
    flex-direction: column;  
  }

  .txt{
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .card-img{
    width: 90%;
  }

  .clubes{
    flex-direction: column;
    align-items: center;
  }
  .caixa_fundo{
    width: 80%;
  }
  .comosurgiu-txt{
    font-size: 25px;
    margin: 10px;
  }
  .sobre-conteudo > p{
    font-size: 20px;
    width: 90%;
    margin: 20px;
  }

  .card-img-none{
    display: none;
  }
}